* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    width: 60px;
}

.navbarContent {
    width: 100%;
    justify-content: end;
    align-items: center;
}

.logom {

    height: auto;
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 4%;

}

.logoLink {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: inline;
    vertical-align: middle;

}

.sliderC {
    height: 75vh;
    background-image: url(images/s1.jpg);
    background-position: center;
    background-size: cover;
    transition: filter 0.5s;

}

.sliderC2 {
    height: 75vh;
    background-image: url(images/s2.jpg);
    background-position: center;
    background-size: cover;

}

.sliderC3 {
    height: 75vh;
    background-image: url(images/s3.jpg);
    background-position: center;
    background-size: cover;

}

.box1 {
    background-image: url(images/gunes.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box2 {
    background-image: url(images/analiz.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box3 {
    background-image: url(images/green.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box4 {
    background-image: url(images/esarj.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.who {
    width: 50%;
    background-image: url(images/company.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.who1 {
    width: 50%;
    background-image: url(images/hizmet.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.who2 {
    width: 50%;
    background-image: url(images/garanti.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}



.yaziTop {
    background-color: rgb(41, 39, 36);

}

.yazi {
    color: azure;
    text-align: center;


}

.baslik {
    font-family: 'Pacifico';
}



.neon {
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
}


.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

.yaziTop1 {
    margin-top: 100px;
    background-color: rgb(41, 39, 36);
}

.yazim {
    margin-top: 100px;
}

.yazimC {
    text-align: center;
}

.colLeft {
    justify-content: center;
    align-items: center;
    position: relative;

}

.vhvh {
    height: 100%;
}

.icerik {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.log {
    width: 150px;
}

.welcome {
    color: whitesmoke;
    opacity: 0;
    animation-name: slider2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slider2 {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width:580px) {
    .who{
        width: 100%;
    }
    .yazi{
        width: 100%;
    }
    .who1{
        width: 100%;
    }

    .who2{
        width: 100%;
    }
    .yazimC{
        width: 100%;
    }

    .cardMedia{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }


}


.iletisim{    
    color: white;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
}
.fontum{
    font-family: 'Pacifico', cursive;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.bgSolar{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url(images/solarBg.jpg);   
    background-position: center;
    background-size: cover;
}
.pngM{
    width: 20px;
}
a{
    text-decoration: none;
}
.heroImg{
    width: 100%;
    height: 25vh;
    background: linear-gradient(rgba(126, 165, 212, 0.5),rgba(76, 56, 165, 0.5)), url(images/worker.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.icerik{
   display: block; 
}

.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}

.topline{
    display: block;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #ffffff;
}
.yaziH{
    padding-left: 10%;
    padding-right: 10%;
}

.person{
    width: 60%;
}