*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    max-width: 100%;
}

.logo{
    width: 60px;
}
.navbarContent{
    width: 100%;
    justify-content: end;
    align-items: center;
}

.logom{
    
    height: auto;
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 4%;   
   
}

.logoLink{
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: inline;
    vertical-align: middle;
        
}

.sliderC{
    height: 75vh;
    background-image: url(images/s1.jpg);
    background-position: center;
    background-size: cover;
    transition: filter 0.5s;
    
}

.sliderC2{
    height: 75vh;
    background-image: url(images/s2.jpg);
    background-position: center;
    background-size: cover;
    
}

.sliderC3{
    height: 75vh;
    background-image: url(images/s3.jpg);
    background-position: center;
    background-size: cover;
    
}
.box1{
    background-image: url(images/gunes.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box2{
    background-image: url(images/analiz.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box3{
    background-image: url(images/green.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box4{
    background-image: url(images/esarj.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}